.container {
    width: 100%;
    padding: 2rem 5rem; /* Padding externo */
    box-sizing: border-box;
    margin-bottom: 5rem;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; /* Centraliza os três blocos */
    gap: 1rem; /* Espaçamento entre os blocos */
    width: 100%;
    padding: 0 5rem;
    position: relative;
  }
  
  .leftContent, .middleContent, .rightContent {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha conteúdo interno no centro */
    justify-content: center;
    gap: 2rem;
    position: relative;
  }
  
  .leftContent {
    align-items: flex-start; /* Texto começa da esquerda */
  }
  
  .title {
    color: #2CBEFF;
    font-size: 28px;
    font-family: 'SF Pro Text', sans-serif;
    font-weight: 600;
    line-height: 1.3;
    text-align: start;
  }
  
  .description {
    color: #3D3D3D;
    font-size: 16px;
    font-family: 'SF Pro Text', sans-serif;
    line-height: 1.6;
  }
  
  .reference {
    color: #4F4F4F;
    font-size: 14px;
    font-family: 'SF Pro Text', sans-serif;
    font-style: italic;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .middleContent {
    flex: 0.5; /* Menor espaço que os outros */
    min-width: 100px; /* Mantém pelo menos 100px */
    max-width: 100px; /* Não deixa esticar demais */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .rightContent {
    position: relative;
    width: 400px;
  }
  
  .backgroundLines {
    position: absolute;
    width: 600px;
    height: 550px;
    top: 50px;
    z-index: 1;
  }
  
  .headImage {
    position: relative;
    width: 450px;
    height: 565px;
    left: -10px;
    z-index: 2;
  }


@media (max-width: 1030px) {
.container {
    width: 100%;
    padding: 2rem 3rem; /* Padding externo */
    margin-bottom: 3rem;
    }
    
.wrapper {
    padding: 0 2rem;
    gap: 0;
    }  

}


@media (max-width: 920px) {
  .container {
    width: 100%;
    padding: 2rem 80px; /* Padding menor para tela mais estreita */
  }

  .wrapper {
    padding: 0 1.5rem;
    gap: 0.5rem; /* Pequeno espaço entre os blocos */
  }

  .leftContent, .middleContent, .rightContent {
    min-width: 240px;
    gap: 1.5rem; /* Reduz o espaçamento interno */
  }

  .middleContent {
    flex: 0.4;
    min-width: 50px;
    max-width: 50px;
  }

  .rightContent {
    width: 300px; /* Diminui a largura da imagem */
  }

  .backgroundLines {
    width: 450px;
    height: 400px;
    top: 30px;
  }

  .headImage {
    width: 340px;
    height: 420px;
    left: -5px;
  }

  .title {
    font-size: 22px; /* Um pouco menor para caber melhor */
  }

  .description {
    font-size: 16px;
  }

  .reference {
    font-size: 13px;
  }
}
 

@media (max-width: 480px) {
.container {
        width: 100%;
        padding: 2rem 1rem;
        margin-bottom: 1rem;
    }
    
    .wrapper {
      align-items: center;
      padding: 0 10px;
    }
  
    .leftContent {
      max-width: 100%;
      text-align: center;
      order: 2; /* Vem depois da imagem */
      margin-top: 2rem;
    }
  
    .middleContent {
      display: none; /* some no mobile pra ganhar espaço */
    }
  
    .rightContent {
      max-width: 100%;
      order: 1; /* Fica no topo */
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }
  
    .headImage {
      width: 300px;
      height: auto;
      left: -20px;
    }
  
    .backgroundLines {
      width: 350px;
      height: auto;
      top: 0;
      left: 20;
      z-index: 1;
    }
  
    .title {
      font-size: 20px;
      line-height: 36px;
      text-align: start;
    }
  
    .description {
      font-size: 16px;
      line-height: 24px;
      text-align: start;
    }

    .reference {
      font-size: 14px;
      line-height: 24px;
      text-align: start;
    }
  }
  