/* Header.module.css */

.header {
  position: relative;
  width: 100%;
  height: 750px;
  background-image: url('/images/fundoheader.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  overflow: hidden;
  color: white;
}

.tituloWrapper {
  position: absolute;
  top: 550px;
  left: 44px;
  width: 422px;
}

.titulo {
  font-family: var(--font-sfProText);
  font-size: 32px;
  font-weight: 50;
  line-height: 54px;
}

.subtitulo {
  font-family: var(--font-sfProText);
  font-size: 96px;
  line-height: 80px;
}

@media (max-width: 1440px) {
  .header {
    width: 100%;
    height: 550px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .tituloWrapper {
    top: 360px;
    left: 30px;
    width: 80%;
  }
}

@media (max-width: 950px) {
  .header {
    width: 100%;
    height: 650px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .tituloWrapper {
    top: 500px;
    left: 30px;
    width: 80%;
  }

  .titulo {
    font-size: 26px;
    line-height: 40px;
  }

  .subtitulo {
    font-size: 72px;
    line-height: 68px;
  }
}

@media (max-width: 480px) {
  .header {
    width: 100%;
    height: 650px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }

  .tituloWrapper {
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .titulo {
    font-size: 18px;
    line-height: 32px;
  }

  .subtitulo {
    font-size: 58px;
    line-height: 52px;
  }
}
